doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- style. 要加入點
        style. 
            h1 {
                color:red
            }
    body
        // 會進到 HTML 的註解
        //- 不會進到 HTML 的註解
        h1 Title
        a(href="https://google.com" target="_blank") Google
        img#image.border.text-content(src="https://github.com/vuejs.png")
        .container
            .row 
                .col-12
                    h1
                        | aaaa
                        br
                        | bbb
        //- script. 要加入點
        script.  
            let aaa = 1111